{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'board_messages/css/style.css' %}" />

<ul class="container">
{% for list in latest_list_board_list %}
    <li class="old">
    <p>{{ list.name }}</p>
    {% include 'board_messages/list_card.html' with list_id=list.id latest_card_list=card_list card_form=form board_id=board_id %}    
    </li>
{% endfor %}
<li class="new">
<form class="aform" action="/messages/{{ board_id }}/add_list/" method="POST">
    {% csrf_token %}
	{{ form.as_p }}
	<input class="button" type="submit" value="Create" />
</form>
</li>
</ul>
